@use "./scss/" as *;
@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;

	@include tablet {
		font-size: 1.2rem;
	}
	@include mobile {
		font-size: 1.4rem;
	}
}
body {
	font-size: 1.6rem;
	line-height: 1.5;
	font-weight: 400;
	font-family: $font-family;
	text-rendering: optimizeSpeed;
	color: $text-color;
}

a {
	text-decoration: none;
	color: unset;
}

@media (hover: hover) {
	a:hover {
		color: unset;
		text-decoration: underline;
	}
}
#overlays {
	display: flex;
	align-items: center;
	justify-content: center;
}

button,
input {
	outline: none;
	border: none;
}

ul {
	list-style-type: none;
}
li {
	list-style: none;
}
img {
	max-width: 100%;
}
iframe {
	border: 0;
}
#webpack-dev-server-client-overlay {
	display: none;
}
.container {
	width: 1270px;
	padding-left: 15px;
	padding-right: 15px;
	margin-right: auto;
	margin-left: auto;
	@include tablet {
		padding: 0 2rem;
	}
	@include mobile {
		padding: 0 1rem;
	}
}

@each $color, $val in $colors {
	.color-#{$color} {
		color: $val;
	}
	.bg-#{$color} {
		background-color: $val;
	}
}

@each $val in $numbers {
	.grid-col-#{$val} {
		grid-template-columns: repeat($val, 1fr);
	}
}
@each $val in $numbers {
	.grid-col-md-#{$val} {
		@include tablet {
			grid-template-columns: repeat($val, 1fr);
		}
	}
}
@each $val in $numbers {
	.grid-col-sm-#{$val} {
		@include mobile {
			grid-template-columns: repeat($val, 1fr);
		}
	}
}

.gird {
	display: grid;
}
